<!-- <p class="mt-4">lesson works!</p>

<div id="header">
    <div class="container">
        <div class="row text-justify text-white">
            <div class="col-md-4">
                <p style="background-color: green; border: 1px solid #000; padding: 15px">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet saepe id animi eaque doloribus ducimus? Dignissimos sint molestiae libero reiciendis ex nisi corporis atque minima delectus placeat, quasi eius deleniti.
                </p>
            </div>
            <div class="col-md-4">
                <p style="background-color: silver;">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet saepe id animi eaque doloribus ducimus? Dignissimos sint molestiae libero reiciendis ex nisi corporis atque minima delectus placeat, quasi eius deleniti.
                </p>
            </div>
            <div class="col-md-4">
                <p style="background-color: magenta;">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet saepe id animi eaque doloribus ducimus? Dignissimos sint molestiae libero reiciendis ex nisi corporis atque minima delectus placeat, quasi eius deleniti.
                </p>
            </div>
        </div>
    </div>
</div>

<div id="list" class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="mt-3">
                    <li *ngFor="let cars of arrayElements; index as indexCar">
                        {{ indexCar + ". " + cars }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div> -->

<!-- <div *ngIf="numberic>3; else noText">Salom hammaga</div>
<ng-template #noText>
    <p>Hikmatjan</p>
</ng-template>

<div [ngSwitch]="numberic">
    <p *ngSwitchCase="1">Salom</p>
    <button *ngSwitchCase="2">hello</button>
    <input type="text" *ngSwitchCase="3" value="hello world!!!">
</div> -->


<div>Dars nomi: {{ lesson?.title | lowercase }}</div>
<div>Narx: {{ lesson?.price | currency:'USD' }}</div>
<div>Davomiylik (soat) {{ lesson?.duration | number }}</div>
<div>Yopilish sanasi: {{ lesson?.intakeDeadLine | date }}</div>

<div class="container">
    <button (click)="onPlusButtonClick()" class="py-2 px-5 mr-2">+</button>
    <button (click)="onMinusButtonClick()" class="py-2 px-5">-</button>
</div>


